*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  border: 2px solid white;
  width: 100%;
  height: 130px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}
.head{
  margin-top: 15px;
  color: white;
  font-weight: bold;
}
input{
  margin-top: 6px;
  width: 90%;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
}
input:focus{
  outline: none ;
  font-weight: 500;
}